body {
    background-image: url("Background.jpg");
    background-size: cover;
     background-attachment: fixed;
}

.jumbotron h1 {
  color: white;
  max-height: 50px;
  background-color: transparent;
}